body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: sans-serif;
    font-weight: bolder;
}

input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;

}

form{
    width: 40%;
}

button{
    background-color: green;
    color: white;
    border: none;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0,82,0)
}
h3{
    
}